{% extends "base_generic.html" %}

{% load staticfiles %}

{% block content %}
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url('{% static 'contents/ai_challenge.jpg' %}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>AI Challenge Presentation</h3>
              <p>CodeFest 2018</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('{% static 'contents/codefest18_5.jpg' %}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Organization Commitee</h3>
              <p>CodeFest 2018</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('{% static 'contents/codefest17_4.jpg' %}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Ege Demir</h3>
              <p>CodeFest 2017</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <div class="container">

      <hr>

      <!-- Past CodeFest Photos -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">CodeFest 2016</h4>
            <div class="card-body">
              <img class="card-img-top" src="{% static 'contents/codefest16_2.jpg' %}" alt="">
            </div>
            <div class="card-footer">
              <a href="{% url 'codefest' year=16 %}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">CodeFest 2017</h4>
            <div class="card-body">
              <img class="card-img-top" src="{% static 'contents/codefest17_1.jpg' %}" alt="">
            </div>
            <div class="card-footer">
              <a href="{% url 'codefest' year=17 %}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">CodeFest 2018</h4>
            <div class="card-body">
              <img class="card-img-top" src="{% static 'contents/codefest18_3.jpg' %}" alt="">
            </div>
            <div class="card-footer">
              <a href="{% url 'codefest' year=18 %}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="row mb-4">
        <div class="col-md-8">
          <h4>Learn more about CodeFest.</h4>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="http://codefesttr.org">codefesttr.org</a>
        </div>
      </div>
    </div>
{% endblock %}
